{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <form action="." method="get">
        <p>
            <input type="text" name="title" placeholder="keywords">
            <input type="submit" value="search">
        </p>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Creation Date</th>

        </tr>
        {% for obj in objects %}
            <tr>
                <td>{{ obj.id }}</td>
                <td><a href="{% url "stories_detail" obj.id %}">{{ obj.title }}</a></td>
                <td>{{ obj.writer }}</td>
                <td>{{ obj.creation_date|naturalday }}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}